@font-face {
    font-family: GiddyupStd;
    src: url(../Fonts/GiddyupStd.otf);
}

.header{
    width: 100%;
    background-color: black;
    height: 80px;
}
.logo{
    padding: 12px;
    padding-left: 40px;;
    position: relative;
    /* display: flex; */
    float: left;
    /* width: 40%; */
    flex-basis: 20%;
}
#logo_a{
    font-family: 'GiddyupStd';
    color: white;
    font-size: 50px;
    font-weight: bold;
}
#logo_b{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: orange;
}

.link-wrapper{
     display: flex; 
    float: right;
    width: 90%;    
    
}

.nav-items{
    color: white;
}

.item-wrapper{
    
   
    height: 29px;
    width: 15%;
    margin: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 8px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.item-wrapper:hover{
    background:orange;
}



.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-left{
    font-size: 35px;
    width: 150px;
    padding: 12px;
    padding-left: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.nav-right{
float: right;
height: max-content;
margin-top: 25px;
width: 52em;;
right: 50px;

display: flex;
position: relative;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-end;
}
