.main-match{
    padding-top: 25px;
    background: inherit;
    background-color: #ffffff2e;
    width: 90%;
    height: 700px;
    margin: auto;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: height 0.5s ease;

}
.wrapper{
    width: 95%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.global-matches, .friends-matches{
    width: 46% ;
    height: max-content;
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    padding: 10px ;
    border-radius: 7px; 
}
.match-category{
    padding: 10px;
font-size: 20px;
font-weight: bold;
color: #000;
text-align: center;
}
.tabs{
    display: flex;
   cursor: pointer;
    height: 36px;
    margin: auto;
}
.tab-a{
    padding: 10px;
    width: 50%;
    text-align: center;
}
.active{
    background-color: orange;
}
.active:hover{
    background-color: rgb(255, 145, 0);
}
.tab-b{
    padding: 10px;
    text-align: center;
    width: 50%;
    background: #d8d8d8;
}
.tab-b:hover{
    background: #ff9113;
}
.match-list-wrapper{
    padding: 10px;
    margin: auto;
}
.match-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 5px;

   
}

.match-items{
    padding-bottom: 10px;
    border: 1px solid #d2d2d2;
}
.date{
    width: 110px;
    margin-left: 20px;
    font-size: 12px;
    border-bottom: 1px solid #d7d7d7;
    color: gray;
    padding-top: 3px;
    padding-left: 5px;
}
.btn-create-team >span{
    background: orange;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.btn-create-team>span:hover{
    background: rgb(255, 143, 38);

}

.btn-create-team{
    margin-right: 20px;
    cursor: pointer;
}
.inner-container-match{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.middle-box{
   
    margin-top: 25px;
    color: gray;
}
.hTeam, .vTeam{
    text-align: center;
}


.match-img{
    height: 50px;
    width: 50px;
}