html{
    background: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;   
}


a{text-decoration: none;}
li{list-style: none;}



ul{
    padding: 0px;
}
.center-block{
    
    background: inherit;
    background-color: #ffffff2e;
    height: 350px;
    width: 400px;
    border-radius: 15px;
    margin: 5% auto;
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: height 0.5s ease;
}
.inner-center{
    display: block;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Button*/
.tab-button {
	height: 30px;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
    color: #666666;
    width: 80px;
    text-align: center;
    border: none;
    margin-left: -4px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}
.tab-button:hover {
	background:linear-gradient(to bottom, #e9e6e6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.tab-button:active {
	position:relative;
	top:1px;
}

.tab_avtive{
    background: #ffc400;
}
.tab_avtive:hover{
    background: #FF9800;
}

.login-container{padding: 40px 10px 20px 10px; }
.li-top{margin-left: 190px;display: flex; padding-top: 25px;}

form{
    width: fit-content; 
    margin: 20px auto;
}
.form-headding{
    font-size: larger;
    color:white;
    margin-bottom: 15px;
}
.li-bottom{margin-top: 30px}
.li-bottom-signup{margin-top: 30px}
.forgot-link{
    color: white;
    text-decoration: underline;
}
 /* #signup-container{padding: 40px 10px 20px 10px; } 
 #login-container{padding: 40px 10px 20px 10px; }  */

/*Input*/

.input, .input-signup{
    outline: none;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.18) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.18) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}
.input{
    margin-top: 22px;
    width: 220px;
}


.input-signup{
  margin-top: 13px;
  width: 225px;
}

.input-name{
    width: 90px;
}


/*submit button*/
.btn-submit, .btn-submit-up {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    outline: none;
}
.btn-submit{
    margin-left: 40px;
}
.btn-submit-up{
    margin-left: 165px;
}
.btn-submit:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn-submit:active {
	position:relative;
	top:1px;
}

