body {
  color: white;
}

.newsBox {
  float: left;
  border-color: white;
  color: white;
  border: 4px solid rgb(53, 83, 83);
  margin: 3%;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 30%;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 5px black;
}

.news {
  padding: 0;
  margin: 0;
}

.news-inner {
  padding: 22px;
  margin: 0;
}

.hrTagLeagueNews {
  padding: 0;
  margin: 0;
  border: 2px solid rgb(53, 83, 83);
}

.hTagLeagueNews {
  padding: 0;
  margin: 0;
}

.news:hover .hTagLeaderboard:hover {
  background-color: rgb(109, 54, 54);
}
