.MainChatBox {
  float: left;
  width: 30%;
  height: 700px;
  margin-top: 3%;
  margin-right: 3%;
  border: 4px solid rgb(53, 83, 83);
  box-shadow: 10px 10px 10px 5px black;
}

.chatTitle {
  text-align: center;
}

.innerChatDiv {
  float: left;
  width: 95%;
  height: 80%;
  margin-left: 2%;
  margin-right: 2%;
  border: 2px solid rgb(53, 83, 83);
  background-color: white;
  border-radius: 5%;
}

.inputTextBox {
  float: left;
  margin-left: 2%;
  width: 70%;
  overflow: visible;
  border: 2px solid rgb(53, 83, 83);
  padding: 10px 10px;
  border-radius: 15px;
  background-color: white;
  color: black;
  box-shadow: 2px 2px 10px 2px black;
}

.inputTextBox:focus {
  outline: none;
  box-shadow: none;
}

.sendButton {
  float: left;
  padding: 10px 10px;
  margin-left: 1.5%;
  border: 1px solid rgb(53, 83, 83);
  border-radius: 15px;
  width: 20%;
  background-color: rgb(24, 115, 235);
  box-shadow: 2px 2px 10px 2px black;
}

.sendButton:focus {
  outline: none;
  box-shadow: none;
}


