.NavBar {
  width: 100%;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
  background-color: rgb(28, 42, 42);
  color: blueviolet;
  box-shadow: 0 8px 6px -6px black;
}

li {
  display: inline-block;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(28, 42, 42);
  cursor: pointer;
}

li:hover h2 {
  color: blueviolet;
  cursor: pointer;
}

li:nth-last-child(1) {
  float: right;
}

li:nth-last-child(2) {
  float: right;
}

h2 {
  background-color: rgb(28, 42, 42);
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}
