.main-team {
  padding-top: 25px;
  background: inherit;
  background-color: #ffffff2e;
  width: 90%;
  height: 700px;
  margin: auto;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: height 0.5s ease;
}
.wrapper {
  width: 95%;
  height: 100%;
  margin: auto;
}
.teams-container {
  width: 90%;
  height: max-content;
  background-color: white;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.64);
  padding: 10px;
  border-radius: 7px;
}

.tabs-teams {
  display: flex;
  cursor: pointer;
  height: 75px;
  margin: auto;
}
.tab-a-team {
  border-right: 1px solid #aba9a9;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.tab-b-team {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.title-wrapper {
  display: flex;
  justify-content: center;
}
.create-team-img {
  height: 70px;
  width: 70px;
}

.team-title {
  padding-top: 19px;
  padding-left: 40px;
  width: 50px;
  /* margin: auto; */
  font-size: 26px;
}

.player-list-wrapper {
  display: flex;
}

.players-container {
  width: 50%;
}
