.right{

    margin:auto; 
    margin-left: 15px; 
    background: white;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);padding: 10px ;border-radius: 7px; 
    width: 21%; 
    height: 500px;  
}
.sore-box-wrapper, schedule-box-wrapper{
    border: 1px solid #d9d9d9; 
    margin-top: 10px; 
    padding-top: 10px;
    
}
.score-title{
    font-size: 25px;
     padding: 10px; 
    color: red;
}
.score-box-outer{
    border: 1px solid #d9d9d9;
}
.match-score-box{
     
    width: 98%; 
    height: 85px; 
    margin: auto; 
    display: flex; 
    margin-top: 10px ;
    border-top: 1px solid #d9d9d9;
}

.score-box-right{
    width: 27%; 
    font-size: 14px;
    margin: auto; 
    padding: 10px;
    text-align:center;
}
.teamA-score-li{
    
    display: flex;
}
.logo-li{
    width: 50px; 
    /* margin-left:10px; */
   
}
.title-li{
    padding-left: 10px; 
    width: 50px;
    margin: auto;
    font-size: 16px;
}
.points-li{
    width: 15%;
    float: right;
    margin:auto;
}
.teamB-score-li{
    padding-top: 5px; 
    border-top: 1px solid #dfdfdf; 
    display: flex;
}
.score-box-left{
    float: right; 
    width: 70%; 
    margin: auto;
    padding: 10px; 
    text-align: center;
}
.score-img{
    height: 35px;
    width: 35px;
}