.main{
    background: inherit;
    background-color: #ffffff2e;
    width: 90%;
    height: 700px;
    margin: auto;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: height 0.5s ease;
}
.banner-welcome-name{
    padding: 20px;
}
.inner-container{
    height: 600px;
    width: 100%;
}
.main-wrapper{
    width: 100%;
    height: max-content;
    display: flex;
}