
.left{
    height: 500px;
    width: 21%;
    margin: auto;
}

.leaderboard-box{
    margin: 5px; 
    background: white;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    padding: 5px ;
    height: 140px; 
    border-radius: 7px;
}
.leader-board{
    width: 95%; 
    height: 25px; 
    border: 1px solid #d7d7d7; 
    margin: auto; 
    padding: 5px; 
    display: flex; 
    margin-top: 10px; 
    border-radius: 5px;
    padding-bottom: 10px;
}
.board-logo{
    width: 15%; 
    margin-left:10px;
}
.board-rank{
    text-align: center;
     width: 60%;
     padding-top: 10px;
    font-weight: bold;
}
.board-indic{
    width: 15%;
    float: right;
    margin-right: 10px
}
.board-detail{
    margin-right: 5px; 
    padding: 5px; 
    float: right; 
    margin-top: 5px;
}

.leaderboard-score{
    display: flex;
    width: 90%;;
}
.leaderboard-img{
    height: 28px;
    width: 28px;
}


/*Chat box*/
.chatbox-wrapper{
    margin-top: 35px; 
    background: white;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.64);
    padding: 5px ;
    height: 310px; 
    border-radius: 7px;
}

.chat-header{
    text-align: center; 
    margin-top: 5px;
}

.chat-wrapper{
    width:100%; 
    height: auto; 
    display: inline-block;
}
.txt-chat-display{
    width: 95%; 
    height: 200px; 
    border: 1px solid lightgrey; 
    margin: auto; 
    margin-top: 10px; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-in, .chat-outside{
    background: #ccc;
    padding: 5px; 
    margin: 7px auto; 
    max-width: 71%;
}
.chat-in{
    float: right; 
}
.chat-outside{
    float: left; 
}

.send-chat-wrapper{
    margin:auto; 
    margin-top: 10px;
}
.form-chat{
    margin: auto; 
    width: max-content; 
    float: right; 
    margin-right: 9px;
}